In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

#load data

In [15]:
data = pd.read_csv("screentime_analysis.csv")

In [17]:
data.head()

         Date        App  Usage (minutes)  Notifications  Times Opened
0  2024-08-07  Instagram               81             24            57
1  2024-08-08  Instagram               90             30            53
2  2024-08-26  Instagram              112             33            17
3  2024-08-22  Instagram               82             11            38
4  2024-08-12  Instagram               59             47            16

In [22]:
print(data['App'].value_counts())

App
Instagram      25
X              25
WhatsApp       25
8 Ball Pool    25
Safari         25
Netflix        25
Facebook       25
LinkedIn       25
Name: count, dtype: int64

In [14]:
print(data.isnull().sum())
print("-------")
print(data.duplicated().sum())

Date               0
App                0
Usage (minutes)    0
Notifications      0
Times Opened       0
dtype: int64
-------
0

In [24]:
data['Date'] = pd.to_datetime(data['Date'])
data['Date']

0     2024-08-07
1     2024-08-08
2     2024-08-26
3     2024-08-22
4     2024-08-12
         ...
195   2024-08-10
196   2024-08-23
197   2024-08-18
198   2024-08-26
199   2024-08-02
Name: Date, Length: 200, dtype: datetime64[ns]

In [27]:
data['DayofWeek'] = data['Date'].dt.dayofweek
print(data['DayofWeek'])

0      2
1      3
2      0
3      3
4      0
      ..
195    5
196    4
197    6
198    0
199    4
Name: DayofWeek, Length: 200, dtype: int32

In [30]:
data['Month'] = data['Date'].dt.month
print(data['Month'])
print(data)

0      8
1      8
2      8
3      8
4      8
      ..
195    8
196    8
197    8
198    8
199    8
Name: Month, Length: 200, dtype: int32
          Date        App  Usage (minutes)  Notifications  Times Opened  \
0   2024-08-07  Instagram               81             24            57
1   2024-08-08  Instagram               90             30            53
2   2024-08-26  Instagram              112             33            17
3   2024-08-22  Instagram               82             11            38
4   2024-08-12  Instagram               59             47            16
..         ...        ...              ...            ...           ...
195 2024-08-10   LinkedIn               22             12             5
196 2024-08-23   LinkedIn                5              7             1
197 2024-08-18   LinkedIn               19              2             5
198 2024-08-26   LinkedIn               21             14             1
199 2024-08-02   LinkedIn               13              4             1

     DayofWeek  Month
0            2      8
1            3      8
2            0      8
3            3      8
4            0      8
..         ...    ...
195          5      8
196          4      8
197          6      8
198          0      8
199          4      8

[200 rows x 7 columns]

In [31]:
#convert numerical to categorical features