In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = sns.load_dataset('titanic')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
data.drop('deck',axis=1, inplace=True)

data.drop(['alive', 'class', 'adult_male', 'embark_town'], axis=1, inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   who       891 non-null    object
 9   alone     891 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 63.6+ KB

In [7]:
data.isnull().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
who           0
alone         0
dtype: int64

In [8]:
data['age'].fillna(data['age'].median(), inplace = True)

/var/folders/p7/svrl7d791kn2fr6t6_5h84w40000gn/T/ipykernel_51605/2864353073.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['age'].fillna(data['age'].median(), inplace = True)

In [9]:
data['embarked'].fillna(data['embarked'].mode()[0], inplace = True)

/var/folders/p7/svrl7d791kn2fr6t6_5h84w40000gn/T/ipykernel_51605/3158251979.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['embarked'].fillna(data['embarked'].mode()[0], inplace = True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       891 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  891 non-null    object
 8   who       891 non-null    object
 9   alone     891 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 63.6+ KB

In [11]:
data['embarked'].value_counts()

embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [12]:
data['sex'] = data['sex'].map({'male':0, 'female':1})
data['embarked'] = data['embarked'].map({'S':0, 'C':1, 'Q':2})
data['alone'] = data['alone'].astype(int)
data['who'] = data['who'].map({'man':0,'woman':1,'child':2})

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    int64
 3   age       891 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  891 non-null    int64
 8   who       891 non-null    int64
 9   alone     891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

In [14]:
data.isnull().sum()

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
who         0
alone       0
dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

X = data.drop('survived',axis=1)
y = data['survived']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)
print(X_train.shape)

(712, 9)

In [16]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [19]:

pipe = Pipeline([('scaler', StandardScaler()), ('svm', SVC(random_state=42))])
params = {'svm__C': [1, 10, 50], 
          'svm__gamma': ['scale', 0.01, 0.1],
         }
grid = GridSearchCV(pipe, params, cv=5, scoring='accuracy', n_jobs=-1)
grid.fit(X_train, y_train)
print(grid.best_params_, grid.score(X_test, y_test))

{'svm__C': 10, 'svm__gamma': 0.01} 0.8156424581005587

In [ ]:
# 2 PCA 2D plot (run in 10 seconds)
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

pca = PCA(n_components=2)
X_2d = pca.fit_transform(StandardScaler().fit_transform(X_train))
plt.scatter(X_2d[:,0], X_2d[:,1], c=y_train, cmap='coolwarm', alpha=0.7)
plt.title('Titanic 2D PCA')
plt.show()

In [21]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [ ]:
pca = PCA(n_components=2)
X_2d = pca.fit_transform(StandardScaler().)